body {
  font-size: 2em;
  margin-top: 1em;
}

x\:product {
  display: block;
}

.item {
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid;
  background-color: #fff;
}
